body {
    background-image: url("stars-13910.gif");
    background-repeat: no-repeat;
}

.fb {
    width: 54rem;
    margin: 1rem auto;
    max-width: 100%;
    backdrop-filter: blur(7px);
    padding: 1%;
    border-radius: 2rem;
    color: wheat;
}

.fb ul {
    font-family: "Comic Sans MS", "Comic Sans";
    text-align: left;
    margin: auto;
    width: fit-content;
}

.fb a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.eve {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.eve .fb {
    margin: 0;
    width: 35rem;
    max-width: 100%;
    box-sizing: border-box;
}