body {
    background-image: url("stars-13910.gif");
}

.fb {
    max-width: 50rem;
    margin: 1rem auto;
    background-color: rgba(177, 217, 252, 0.63);
    padding: 1%;
    border-radius: 2rem;
}

.fb ul {
    font-family: cursive;
    text-align: left;
    margin: auto;
    width: fit-content;
}

.fb a {
    color: rgb(92, 1, 1);
    text-decoration: none;
}