* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #f5f8fc;
  color: #111;
}

header {
  width: 100%;
  padding: 20px 60px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  gap: 2rem;
  list-style: none;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

nav a:hover {
  color: #00aaff;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3%;
}

.content .intro {
  font-size: 2rem;
  color: gray;
  margin-bottom: 0.1rem;
}

.content h1 {
  font-size: 3rem;
  font-weight: bold;
}

.content h3 {
  font-size: 1.5rem;
  color: #6c7a89;
  margin: 10px 0 20px;
}

.contact p {
  margin: 5px 0;
  font-size: 1rem;
}

.image img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  object-fit: cover;
  border: 8px solid #f5f8fc;
  box-shadow: 0px 5px 20px rgba(0,0,0,0.1);
}